* {
    outline: 0;
    padding: 0;
    margin: 0;
    border:0;
    white-space: normal;
    vertical-align: baseline;
    
}
a {
    background:none;
    text-decoration: none;
}

ol, ul {
    list-style: none;
}
body{
    background:#F4F1EC;
    font-size:13px;
    color:#484848;
    font-weight:normal;
    line-height: 100%;
}
html{
    -webkit-user-select: none;
    height: 100%;
}

.drag-overlay{
    position: absolute;
    z-index: 1;
    height: 100%;
    width:100%;
    top: 0;
    left: 0;
}

.no-darg{
    position: relative;
    z-index: 10;
}

/*----------------------Font Face---------------------------*/

@font-face {
    font-family:"Digital-7 Mono";
    src:url("../fonts/digital-7__mono_.eot?") format("eot"),url("../fonts/digital-7__mono_.woff") format("woff"),url("../fonts/digital-7__mono_.ttf") format("truetype"),url("../fonts/digital-7__mono_.svg#Digital-7Mono") format("svg");
    font-weight:normal;
    font-style:normal;}


/*---------------------------------------------------------------------------*/

/*==== Player style ====*/

#player_box{
    background: url("../img/player_wrapp.png") no-repeat scroll 0 0 / 100% auto transparent;
    height: 140px;
    margin: 50px auto 25px;
    position: relative;
    width: 420px;
}

#player_box #top_panel{
    height: 40px;
    margin: 0 auto;
    width: 380px;
}

#player_box #top_panel #volume{
    float: left;
    height: 20px;
    margin-top: 10px;
    width: 150px;
}

#player_box #top_panel #volume #volume_ico{
    background: url("../img/volume_icon.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 10px;
    margin: 5px;
    width: 11px;
}

#player_box #top_panel #volume #volume_panel {
    background: url("../img/volume_panel_bg.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 17px;
    margin: 5px;
    width: 107px;
}

#player_box #top_panel #volume #volume_panel a{
    background: url("../img/volume_point.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 6px;
    margin: 2px;
    width: 6px;
}

#player_box #top_panel #volume #volume_panel a:first-child{
    margin-left: 5px;
}

#player_box #top_panel #volume #volume_panel a:hover,
#player_box #top_panel #volume #volume_panel a.active{
    background: url("../img/volume_point_active.png") no-repeat scroll 0 0 transparent;
}

#player_box #top_panel #screen_btn{
    float: right;
    height: 100%;
    width: 100px;
}

#player_box #top_panel #screen_btn a{
    display: block;
    float: left;
    height: 20px;
    margin: 10px 5px 10px 0;
    width: 27px;
}

#player_box #top_panel #screen_btn #hide_btn{
    background: url("../img/hide_btn.png") no-repeat scroll 0 0 transparent;
}

#player_box #top_panel #screen_btn #open_btn{
    background: url("../img/open_btn.png") no-repeat scroll 0 0 transparent;
}

#player_box #top_panel #screen_btn #close_btn{
    background: url("../img/close_btn.png") no-repeat scroll 0 0 transparent;
}

#player_box #progress_bar{
    background: url("../img/progress_bar_bg.png") repeat-x scroll 0 0 transparent;
    height: 58px;
    margin: 0 auto;
    width: 380px;
}

#player_box #progress_bar #time_btns{
    float: left;
    height: 100%;
    width: 125px;
}

#player_box #progress_bar #time_btns #time{
    color: #C5E2F7;
    font-family: "Digital-7 Mono";
    font-size: 35pt;
    line-height: 0.7;
    padding: 3px;
    text-indent: 10px;
}

#player_box #progress_bar #time_btns #btns_wrapp{}

#player_box #progress_bar #time_btns #btns_wrapp a{
    color: #AABAC9;
    font-family: arial;
    font-size: 9pt;
    font-weight: 600;
    padding-left: 17px;
    text-decoration: none;
}

#player_box #progress_bar #time_btns #btns_wrapp a.active{
    color: #7C8B99;
}

#player_box #progress_bar #name_progress{
    float: left;
    height: 100%;
    width: 255px;
}

#player_box #progress_bar #name_progress #name_wrapp{}

#player_box #progress_bar #name_progress #name_wrapp .sep_left{
    background: url("../img/sep_left.png") no-repeat scroll -7px 0 transparent;
    float: left;
    height: 33px;
    margin-top: 1px;
    width: 8px;
}

#player_box #progress_bar #name_progress #name_wrapp .sep_right{
    background: url("../img/sep_right.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 33px;
    margin-top: 1px;
    width: 7px;
}

#player_box #progress_bar #name_progress #name_wrapp #name_block{
    float: left;
    margin: 5px;
    overflow: hidden;
    width: 228px;
}

#player_box #progress_bar #name_progress #name_wrapp span{
    color: #AABAC9;
    display: block;
    font-family: arial;
    font-size: 18px;
    line-height: 1.3;
    width: 500px;
}

#player_box #progress_bar #name_progress #progress_line{}

#player_box #play_buttons{
    height: 40px;
    margin: 0 auto;
    width: 380px;    
}

#player_box #play_buttons #left_btns_panel{
    float: left;
    height: 100%;
    width: 37px;    
}

#player_box #play_buttons #left_btns_panel #rp_btn{
    background: url('../img/rp_btn.png');    
    display: block;
    height: 20px;
    width: 32px;
    float: left;
}

#player_box #play_buttons #left_btns_panel #sh_btn{
    background: url('../img/sh_btn.png');    
    display: block;
    height: 20px;
    width: 32px;
    float: left;
}

#player_box #play_buttons #play_btn_panel{
    background: url("../img/play_btn_panel_bg.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 30px;
    margin-top: 10px;
    width: 306px;
}

#player_box #play_buttons #play_btn_panel a{
    display: block;
    float: left;
    margin: 12px 10px 10px 34px;
}

#player_box #play_buttons #play_btn_panel #prev_btn{
    background: url("../img/prev_btn.png") no-repeat scroll 0 0 transparent;
    height: 10px;
    width: 16px;
}

#player_box #play_buttons #play_btn_panel #pause_btn{
    background: url("../img/pause_btn.png") no-repeat scroll 0 0 transparent;
    height: 9px;
    width: 8px;
}

#player_box #play_buttons #play_btn_panel #play_btn{
    background: url("../img/play_btn.png") no-repeat scroll 0 0 transparent;
    height: 16px;
    margin-top: 9px;
    width: 14px;      
}

#player_box #play_buttons #play_btn_panel #stop_btn{
    background: url("../img/stop_btn.png") no-repeat scroll 0 0 transparent;
    height: 9px;
    width: 9px;      
}

#player_box #play_buttons #play_btn_panel #next_btn{
    background: url("../img/next_btn.png") no-repeat scroll 0 0 transparent;
    height: 10px;
    width: 16px;      
}

#player_box #play_buttons #right_btns_panel{
    float: left;
    height: 100%;
    width: 37px;  
}

#player_box #play_buttons #right_btns_panel #eq_btn{
    background: url('../img/eq_btn.png');
    display: block;
    height: 20px;
    width: 32px;
    float: right;
}

#player_box #play_buttons #right_btns_panel #pl_btn{
    background: url('../img/pl_btn.png');
    display: block;
    height: 20px;
    width: 32px;
    float: right;
}